<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
      <title>Alex Smile</title>
</head>

<body>
  <div class="mobile-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Alis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-0 col-md-3 col-lg-5">
        </div>
        <div class="col-12 col-md-9 col-lg-7">
          <nav>
            <ul class="header__menu">
              <li class="header__menu-item header__menu-item-active">HOME</li>
              <li class="header__menu-item">MY PROJECTS</li>
              <li class="header__menu-item">EDUCATION</li>
              <li class="header__menu-item">CONTACT</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="greeting">
      <div class="greeting__part1">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="greeting__content">
                <p class="greeting__greet">Hello, I'm</p>
                <h1 class="greeting__my-name">
                  <span>Alex</span><span>Ismailov</span>
                </h1>
                <div class="greeting__divider"></div>
                <p class="greeting__profession">
                  <span>I am a</span><span>frontend</span><span>developer</span>
                </p>
                <!-- <div class="greeting__buttons-wrapper">
                  <div class="row">
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                      <a class="greeting__button" href="#">read more</a>
                    </div>
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                      <a class="greeting__button" href="#">download cv</a>
                    </div>
                  </div>
                </div> -->
                <div class="greeting__buttons-wrapper">
                  <a class="greeting__button" href="#">read more</a>
                  <a class="greeting__button" href="#">download cv</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="greeting__part2">
        <div class="container">
          <div class="greeting__blockquote-wrapper">
            <blockquote>
              <div class="greeting__quote-wrapper">
                <span class="greeting__quote-sign"><i class="fas fa-quote-right"></i></span>
                <p class="greeting__quote-text">
                  What a computer is to me is the most remarkable tool that we have ever come up with. It's the equivalent of a bicycle for our minds.
                </p>
              </div>
            </blockquote>
            <div class="greeting__quote-author">Steve jobs</div>
          </div>
        </div>
      </div>
      <div class="greeting__part3"></div>
    </section>
    <section class="my-work">
      <div class="section-title">
        <p class="section-title__small-head">Portfolio</p>
        <h2 class="section-title__head">Recent projects</h2>
        <div class="section-title__divider"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="my-work__card-wrapper">
            <article class="my-work__card">
              <div class="my-work__img-container">
                <img class="my-work__card-img" src="/assets/img/brain-game-logo.png" alt="diff-img.png">
              </div>
              <h3 class="my-work__card-title">card title</h3>
              <p class="my-work__card-description">card title Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eius harum voluptatum laudantium impedit natus.</p>
            </article>
            <article class="my-work__card">
              <div class="my-work__img-container">
                <img class="my-work__card-img" src="/assets/img/diff-img.png" alt="diff-img.png">
              </div>
              <h3 class="my-work__card-title">card title</h3>
              <p class="my-work__card-description">card title Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eius harum voluptatum laudantium impedit natus.</p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>

  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
    <% } %>
</body>

</html>