.greeting {
  height: 100vh;
  // height: 790px;

  &__part1 {
    background: linear-gradient(4deg, $darkGrey 16%, transparent 16.3%),
                no-repeat 80%/contain url('../../assets/img/konduki-my-face-HD-853-1279.png'),
                linear-gradient(to bottom left, $grey 45%, transparent 45.1%);
    height: 70%;

    @include media('smDesktopWidth') {
      background: linear-gradient(4deg, $darkGrey 16%, transparent 16.3%),
      no-repeat 70%/contain url('../../assets/img/konduki-my-face-HD-853-1279.png'),
      linear-gradient(to bottom left, $grey 45%, transparent 45.1%);
    }

    @include media('tableWidth') {
      background: linear-gradient(4deg, $darkGrey 16%, transparent 16.3%),
                  no-repeat 60%/contain url('../../assets/img/konduki-my-face-HD-853-1279.png'),
                  linear-gradient(to bottom left, $grey 45%, transparent 45.1%);

      font-size: 12px;
    }
  }

  &__content {
    // position: absolute;
    // bottom: 150%;
    // bottom: 150px;
    // width: 450px;
    margin-top: 8%;

    @include media('tableWidth') {
      margin-top: 15%;
    }

    @include media('smPhoneWidth') {
      margin-top: 18%;
    }
  }

  &__greet {
    color: rgba(104,109,114,0.50);
    font-size: 24px;
    margin: 0;

    @include media('tableWidth') {
      font-size: 12px;
    }
  }

  &__my-name {
    display: flex;
    justify-content: start;
    font-size: 48px;
    color: #4f565b;
    margin: 0;

    @include media('tableWidth') {
      font-size: 24px;
    }

    & > span {
      padding-right: 15px;
    }

    @include media('smDesktopWidth') {
      flex-direction: column;
    }
  }

  &__divider {
    background-image: linear-gradient(160deg,#8300e9 0%,#00e2db 88%);
    height: 4px;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 20%;
  }

  &__profession {
    display: flex;
    justify-content: start;
    font-weight: 300;
    font-size: 34px;
    color: rgba(104,109,114,0.45);
    
    & > span {
      padding-right: 13px;
    }

    @include media('tableWidth') {
      font-size: 17px;
    }

    @include media('smDesktopWidth') {
      flex-direction: column;
    }
  }

  // &__buttons-list {
  //   display: flex;
  //   // background: orange;
  //   justify-content: start;
  //   justify-content: space-between;
  //   padding: 0;
  //   margin: 0;
  //   width: 65%;
  //   // margin: 15px 0 0 0;
  //   list-style: outside none;
  // }

  &__buttons-wrapper {
    // width: 53%;
    display: flex;
    // justify-content: space-between;
    justify-content: start;

    @include media('tableWidth') {
      flex-direction: column;
    }

    @include media('smDesktopWidth') {
      display: none;
    }
  }

  &__button {
    display: block;
    width: 200px;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(160deg,#8300e9 0%,#00e2db 100%);
    transition: all 300ms ease 0ms;

    @include media('tableWidth') {
      width: 150px;
      font-size: 10px;
      margin-top: 10px;
    }
  }

  &__button:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 1px 15px 35px -10px rgba(0,0,0,0.4);
  }

  &__quote {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;

    @include media('smDesktopWidth') {
      width: 100%;
    }
  }

  &__quote-sign {
    position: relative;
    left: 15px;
    bottom: 50px;
    font-size: 60px;
    color: rgba(255,255,255,0.14);
  }

  &__quote-text {
    margin: 0;
    color: #fff;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 25px;
    line-height: 36px;

    @include media('smDesktopWidth') {
      font-size: 15px;
    };

    @include media('tableWidth') {
      // font-size: 10px; // doesn't work !!!
      color: green;
    };
  }

  &__quote-author {
    color: rgba(255,255,255, 0.30);
    text-transform: uppercase;
    font-size: 15px;
  }

  &__part2 {
    background: $darkGrey;
    height: 20%;
  }

  &__part3 {
    // background: orange;
    background: linear-gradient(to top left, #fff 45%, $darkGrey 45.9%);
    height: 10%;
  }
}