.greeting {
  height: 100vh;
  // padding-bottom: 300px;

  &__part1 {
    background: linear-gradient(4deg, $darkGrey 16%, transparent 16.3%),
                no-repeat 50%/contain url('../../assets/img/konduki-my-face-HD-853-1279.png'),
                linear-gradient(to bottom left, $grey 45%, transparent 45.1%);
    height: 70%;

    @include media-breakpoint-up(md) {
      background: linear-gradient(4deg, $darkGrey 16%, transparent 16.3%),
                  no-repeat 70%/contain url('../../assets/img/konduki-my-face-HD-853-1279.png'),
                  linear-gradient(to bottom left, $grey 45%, transparent 45.1%);
    }

    @include media-breakpoint-up(lg) {
      background: linear-gradient(4deg, $darkGrey 16%, transparent 16.3%),
                  no-repeat 75%/contain url('../../assets/img/konduki-my-face-HD-853-1279.png'),
                  linear-gradient(to bottom left, $grey 45%, transparent 45.1%);
    }
  }

  &__content {
    margin-top: 18%;

    @include media-breakpoint-up(md) {
      margin-top: 15%;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 8%;
    }
  }

  &__greet {
    color: rgba(104,109,114,0.50);
    font-size: 12px;
    margin: 0;
    
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }

  &__my-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 24px;
    color: #4f565b;
    margin: 0;

    & > span {
      padding-right: 15px;
    }
    
    @include media-breakpoint-up(md) {
      flex-direction: row;
      font-size: 35px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 48px;
    }
  }

  &__divider {
    background-image: linear-gradient(160deg,#8300e9 0%,#00e2db 88%);
    height: 4px;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 58px;
    
    @include media-breakpoint-up(sm) {
      width: 58px;
    }
    @include media-breakpoint-up(md) {
      width: 75px;
    }
    @include media-breakpoint-up(lg) {
      width: 103px;
    }
  }

  &__profession {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-weight: 300;
    font-size: 17px;
    color: rgba(104,109,114,0.45);
    
    & > span {
      padding-right: 7px;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      font-size: 20px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 34px;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &__button {
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 10px;
    padding: 5px 10px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(160deg,#8300e9 0%,#00e2db 100%);
    transition: all 300ms ease 0ms;

    @include media-breakpoint-up(md) {
      font-size: 12px;
      padding: 8px 18px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 15px;
      padding: 10px 20px;
    }
  }

  &__button:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 1px 15px 35px -10px rgba(0,0,0,0.4);
  }

  &__part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $darkGrey;
    height: 20%;
    position: relative;
  }

  &__blockquote-wrapper {
    padding: 0 15px;
  }

  &__quote-wrapper {
    position: relative;
  }

  &__quote-sign {
    position: absolute;
    bottom: 80px;
    left: -15px;
    font-size: 30px;
    color: rgba(255,255,255,0.14);

    @include media-breakpoint-up(md) {
      font-size: 45px;
      bottom: 70px;
      left: -30px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
      bottom: 30px;
      left: -25px;
    }
  }

  &__quote-text {
    margin: 0;
    color: #fff;
    font-family: 'Montserrat-Light', sans-serif;
    // font-size: 25px;
    font-size: 17px;
    line-height: 36px;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 25px;
    }
  }

  &__quote-author {
    color: rgba(255,255,255, 0.30);
    text-transform: uppercase;
    font-size: 15px;
  }



  &__part3 {
    // background: orange;
    background: linear-gradient(to top left, #fff 45%, $darkGrey 45.9%);
    height: 10%;
  }
}