.header {
  height: 80px;
  display: flex;
  // align-items: center;
  position: absolute;
  width: 100%;
  z-index: 111;

  @include media('tableWidth') {
    display: none;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 0 0 -15px;
  }

  &__menu-item {
    list-style-type: none;
    letter-spacing: 2px;
    color: #aaa;
  }

  &__menu-item:hover {
    color: $mainFontColor;
    cursor: pointer;
  }

  &__menu-item-active {
    color: $mainFontColor;
  }

}